<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.kaopujinfu.appsys.thecar">

    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <!--允许程序获取网络状态-->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <!--允许程序访问WiFi网络信息-->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <!--允许程序读写手机状态和身份-->
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <!--允许程序访问CellID或WiFi热点来获取粗略的位置-->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <!-- 手机震动权限 -->
    <uses-permission android:name="android.permission.VIBRATE" />

    <uses-feature android:name="android.hardware.camera" />
    <uses-feature android:name="android.hardware.camera.autofocus" />

    <!-- 获取机型信息权限 -->
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.INTERACT_ACROSS_USERS_FULL" />
    <!-- 查看网络状态 -->
    <uses-permission android:name="android.permission.CAMERA" />
    <!-- 录音 -->
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <!-- 防止设备休眠 -->
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <!-- 在SDCard中创建与删除文件权限 -->
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.SYSTEM_OVERLAY_WINDOW" />

    <uses-permission android:name="android.permission.CHANGE_CONFIGURATION" />

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <application>
        <activity android:name=".applys.ApplyActivity" />
        <activity android:name=".loans.LoanFormActivity" />
        <activity android:name=".myselfs.MineActivity" />
        <activity android:name=".myselfs.MissionActiviy"/>
        <activity android:name=".myselfs.OptionsActivity"/>
        <activity android:name=".myselfs.UserActivity"/>
        <activity android:name=".myselfs.StatisActivity"/>
        <activity android:name=".supervises.SupervisesActivity" />
        <activity android:name=".myselfs.bindings.BindingsActivity" />
        <activity android:name=".myselfs.files.DocumentActivity" />
        <activity android:name=".myselfs.checks.ChecksActivity" />
        <activity android:name=".myselfs.files.MissionCommitActivity" />
        <activity android:name=".myselfs.files.MissionListsActivity" />
        <activity android:name=".myselfs.photos.PhotosDetailsActivity" />
        <activity android:name=".myselfs.photos.AssessmentActivity" />
        <activity android:name=".myselfs.photos.UploadTaskActivity"/>
        <activity
            android:name=".myselfs.checks.ChecksDetailsActivity"
            android:screenOrientation="portrait" />
        <activity android:name=".myselfs.checks.CheacksVideoActivity"/>
        <activity android:name=".myselfs.checks.VideoActivity"/>
        <activity
            android:name=".myselfs.checks.BluetoothActivity"
            android:theme="@style/PassDialog" />
        <activity android:name=".myselfs.checks.DeviceControlActivity" />
        <activity
            android:name=".myselfs.files.DocumentNewActivity"
            android:screenOrientation="portrait" />
        <activity android:name=".myselfs.files.DocumentCommitActivity" />
        <activity android:name="com.loansys.capturealibrary.activity.CaptureActivity"/>
        <activity
            android:name=".myselfs.bindings.AddBindingActivity"
            android:screenOrientation="portrait" />
        <activity android:name=".upload.UploadListActivity" />
        <activity android:name="com.kaopujinfu.appsys.customlayoutlibrary.activitys.VINactivity" />
        <activity android:name="com.kaopujinfu.appsys.customlayoutlibrary.activitys.ScannerActivity" />
        <activity
            android:name="com.kaopujinfu.appsys.customlayoutlibrary.activitys.ContinuityCameraActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenSize"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.kaopujinfu.appsys.customlayoutlibrary.activitys.VideoRecordActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenSize"
            android:screenOrientation="portrait" />
        <activity android:name=".supervises.SupervisesDetailsActivity" />
        <activity android:name=".applys.ApplyDetailsActivity" />
        <activity android:name=".loans.LoanFormDetailsActivity" />

        <activity android:name=".UpdatePasswordActivity" />
        <activity android:name=".PersonalActivity" />
        <activity android:name=".myselfs.newcar.NewCarActivity" />
        <activity android:name=".myselfs.newcar.DistributorActivity" />
        <activity android:name=".myselfs.newcar.CarListActivity" />
        <activity android:name=".myselfs.newcar.LableActivity" />
        <activity android:name=".myselfs.newcar.AddLableActivity" />
        <activity android:name=".menu.VerionActivity"/>
        <activity android:name=".myselfs.cabinet.CabinetListActivity"/>
        <activity android:name=".myselfs.cabinet.CabinetDetailsActivity"/>
        <activity android:name=".myselfs.cabinet.LockActivity"/>
        <activity android:name=".myselfs.gpscar.GpsActivity"/>
        <activity android:name=".myselfs.gpscar.GpsListActivity"/>

        <service
            android:name=".service.BluetoothLeService"
            android:enabled="true" />
        <service android:name="com.amap.api.location.APSService" />
    </application>

</manifest>