<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.github.reliablecar">

    <application
        android:name="com.kaopujinfu.appsys.customlayoutlibrary.RetailAplication"
        android:allowBackup="true"
        android:icon="@drawable/about_logo"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <meta-data
            android:name="com.amap.api.v2.apikey"
            android:value="8d09e670f36a78f2a58a370919c35e7d"></meta-data>

        <activity
            android:name=".StartActivity"
            android:theme="@style/AppThemeTwo">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.kaopujinfu.appsys.thecar.LoginActivity"
            android:windowSoftInputMode="stateHidden|adjustResize" />
        <activity android:name="com.kaopujinfu.appsys.thecar.CarMainActivity" />

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
    </application>

</manifest>